aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiohttp-retry==2.9.1
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.7.0
asgiref==3.8.1
attrs==25.4.0
audioop-lts==0.2.1
beautifulsoup4==4.12.3
blinker==1.9.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
comtypes==1.4.8
contourpy==1.3.3
cycler==0.12.1
distro==1.9.0
Django==5.1.4
djangorestframework==3.17.1
ecapture==2.0.2
feedparser==6.0.12
Flask==3.1.0
fonttools==4.61.1
frozenlist==1.8.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
itsdangerous==2.2.0
jaraco.context==6.0.1
Jinja2==3.1.4
jiter==0.8.0
joblib==1.5.3
kiwisolver==1.4.9
MarkupSafe==3.0.2
matplotlib==3.10.8
more-itertools==10.5.0
MouseInfo==0.1.3
multidict==6.1.0
mysql-connector-python==9.5.0
numpy==2.2.6
openai==1.57.0
opencv-python==4.12.0.88
packaging==26.0
pandas==3.0.0
pillow==11.0.0
propcache==0.4.1
PyAudio==0.2.14
PyAutoGUI==0.9.54
pydantic==2.10.3
pydantic_core==2.27.1
PyGetWindow==0.0.9
pyjokes==0.8.3
PyJWT==2.10.1
PyMsgBox==1.0.9
pyparsing==3.3.2
pyperclip==1.9.0
pypiwin32==223
PyRect==0.2.0
PyScreeze==1.0.1
python-dateutil==2.9.0.post0
pyttsx3==2.98
pytweening==1.2.0
pywhatkit==5.4
pywin32==308
requests==2.32.3
scikit-learn==1.8.0
scipy==1.17.0
seaborn==0.13.2
sgmllib3k==1.0.0
six==1.17.0
sniffio==1.3.1
soupsieve==2.6
SpeechRecognition==3.12.0
sqlparse==0.5.3
standard-aifc==3.13.0
standard-chunk==3.13.0
threadpoolctl==3.6.0
tqdm==4.67.1
twilio==9.9.0
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
Werkzeug==3.1.3
wikipedia==1.4.0
winshell==0.6
wolframalpha==5.1.3
xmltodict==0.14.2
yarl==1.22.0
